* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFEF;
}

/* Main section */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
}

.main-menu {
  width: calc(100% / 3 * 2);
}

.main {
  max-width: 680px;
  margin: 0 auto;
  padding: 40px 10px 140px 10px;
}

.greeting {
  margin: 78px 0 46px 0;
}

.greeting p:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

.greeting p:last-child {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  color: #333333;
}


/* Card */
.card {
  padding: 40px 40px 40px 100px;
  background-color: #F8F8F8;
  max-width: 680px;
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-content:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  //background: #fff url('../images/message.svg') no-repeat center;
  border-radius: 50%;
  top: 20px;
  left: -60px;
}

.card-favour .id,
.card .id {
  white-space: nowrap;
  margin-top: 10px;
  font-style: normal;
  font-size: 10px;
  line-height: 140%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px;
}

.card-favour .id img,
.card .id img {
  margin-left: 5px;
}

.heart {
  //background: url('../images/Vector.svg');
  transition: .5s;
  align-self: flex-end;
  width: 20px;
  height: 17px;
  display: block;
  padding: 8px;
}

.heart:hover {
  transition: .5s;
  //background: url('../images/heart.svg');
}

.card .heart_active {
  width: 20px;
  height: 17px;
  align-self: flex-end;
  //background: url('../images/heart.svg');
}

.card .heart_active:hover {
  //background: url('../images/Vector.svg');
}

.card-favour .heart {
  //background: url('../images/heart.svg');
  transition: .5s;
  align-self: flex-end;
  width: 20px;
  height: 17px;
}

.card-favour .heart:hover {
  //background: url('../images/Vector.svg');
  transition: .5s;
}

.card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-favour .card-footer,
.card .card-footer span:first-child {
  font-size: 10px;
  line-height: 14px;
  vertical-align: top;
  color: #ABABAB;
}

.card p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 144%;
  color: #333333;
  margin: 5px 0 23px 0;
}

.card .card-footer .genre {
  text-transform: uppercase;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  vertical-align: top;
  letter-spacing: 2px;
  color: #333333;
  background-color: #ffff;
  padding: 6px 20px 6px 20px;
  border-radius: 6px;
}

.card-favour {
  margin-top: 20px;
  padding: 20px 20px 20px 80px;
  background-color: #ffff;
  max-width: 400px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}

.card-favour .card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-favour .card-content:before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  //background: #F8F8F8 url('../images/message.svg') no-repeat center;
  border-radius: 50%;
  top: 20px;
  left: -60px;
}

.card-favour p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #333333;
  margin: 5px 0 20px 0;
}

@media screen and (max-width: 836px) {
  .main-menu {
    width: 100%;
  }

  .main {
    max-width: 754px;
  }

  .card {
    max-width: 754px;
  }

  .card p {
    font-size: 18px;
  }

  .card-favour p {
    font-size: 13px;
  }

  .wrapper {
    position: relative;
  }


  .active {
    transform: translateX(0);
  }

  .main-menu-dark:after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }

  .heart:hover {
    //background: url('../images/Vector.svg');
  }

  .card .heart_active:hover {
    //background: url('../images/heart.svg');
  }
}

@media screen and (max-width: 380px) {
  .main {
    max-width: 340px;
  }

  .card {
    padding: 20px 20px 20px 80px;
  }

  .card p {
    font-size: 16px;
    line-height: 26px;
  }

  .card-content .card-footer {
    align-items: baseline;
    flex-direction: column;
  }

  .card-footer .genre {
    margin-top: 10px;
  }
}
