.card-favourite {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  &__top,
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__id {
    white-space: nowrap;
    font-style: normal;
    font-size: 10px;
    line-height: 140%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__heart {
    width: 20px;
    height: 17px;
    transition: .5s;
    background-image: url('./../../../assets/images/heart.svg');

    &:hover {
      background-image: url('./../../../assets/images/heart_disabled.svg');
    }
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 13.4px;
    line-height: 20px;
    color: #333333;
    margin: 5px 0 20px 0;
  }

  &__footer {
    span:first-child {
      font-size: 10px;
      line-height: 14px;
      vertical-align: top;
      color: #ABABAB;
    }
  }

  &__genre {
    text-transform: uppercase;
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    vertical-align: top;
    letter-spacing: 2px;
    color: #333333;
    background-color: #f8f8f8;
    padding: 6px 20px 6px 20px;
    border-radius: 6px;
  }
}
