.card {
  padding: 40px 40px 40px 100px;
  background-color: #F8F8F8;
  max-width: 680px;
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
  flex-direction: column;
  width: 100%;

  &:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background: #fff url('./../../../assets/images/message.svg') no-repeat center;
    border-radius: 50%;
    top: 40px;
    left: 40px;
  }

  &__id {
    white-space: nowrap;
    margin-top: 10px;
    font-style: normal;
    font-size: 10px;
    line-height: 140%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px;

    img {
      margin-left: 5px;
    }
  }

  &__heart {
    background: url('./../../../assets/images/heart_disabled.svg');
    transition: .5s;
    align-self: flex-end;
    width: 20px;
    height: 17px;
    display: block;
    padding: 8px;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 144%;
    color: #333333;
    margin: 5px 0 23px 0;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:first-child {
      font-size: 10px;
      line-height: 14px;
      vertical-align: top;
      color: #ABABAB;
    }
  }

  &__genre {
    text-transform: uppercase;
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    vertical-align: top;
    letter-spacing: 2px;
    color: #333333;
    background-color: #ffff;
    padding: 6px 20px 6px 20px;
    border-radius: 6px;
  }
}

@media screen and (max-width: 836px) {
  .card {
    max-width: 754px;

    &__text {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 380px) {

  .card {
    padding: 20px 20px 20px 80px;

    &__text {
      font-size: 16px;
      line-height: 26px;
    }

    &__footer {
      align-items: baseline;
      flex-direction: column;
    }

    &__genre {
      margin-top: 10px;
    }
  }
}